*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
@font-face {
    font-family:Petica;
    src:url('../font/Pecita.otf') format('opentype');
   }

   @font-face {
    font-family:HarryPotter;
    src:url('../font/ParryHotter.ttf') format('truetype');
    font-weight:normal;
    font-style:normal;

   }
/* --------------------------------------------- */
/* -------------------HEARDER------------------- */
/* --------------------------------------------- */


.contact .icon{
    flex-grow: 1;
    margin-left: 5%;
}

.contact .icon li {
    display: inline-block;
    margin-right: 25px;
}

.contact .icon li i {
    color: #f9f9f9e7;
}
.contact {
    background: linear-gradient(90deg,  #86136dcb 0%,  #86136db7 30%);
    height: 40px;
    display: flex;
    align-items: center;
}

.contact .link-signin{
    flex-grow: 2;
    text-align: right;
    margin-right: 5%;
}

.contact .link-signin a{
    font-family: 'PT Sans Narrow', sans-serif;
    text-decoration: none;
    text-transform: capitalize;
    color: #f9f9f9e7;
    font-size: 14px;
    font-weight: 600;
    padding: 0 10px;
    border-right: 1px solid #ddd;
}

.menu{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background: linear-gradient( 90deg,rgb(45,25,58, 0.9) 0%, rgb(60,37,69, 0.7) 30%);
    height: 70px;
}

.logo {
    flex-grow: 1;
    height: 100%;
}
.logo img {
    width: 60px;
    height: 60px;
    position: relative;
    left: 50%;
    top: 10%;
    opacity: 0.95;
}



.link-menu {
    flex-grow: 5;
    text-align: right;

}

.link-menu a{
    font-family: 'PT Sans Narrow', sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    color: #f9f9f9e7;
    font-size: 15px;
    font-weight: 600;
    margin-right: 50px;

}
.btn-store{
    flex-grow: 1;

}
.btn-store button{

    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 15px;
    padding: 5px 25px; 
    text-transform: uppercase;
    border: 3px solid #f9f9f9e7;
    background-color: transparent;
    color: #f9f9f9e7;
    border-radius: 50px;
    margin-left: 10%;
}

header {
    height: 750px;
    background-position: center;
    background-size: cover;
    animation: change-bg 80s ease-in-out 0s infinite ;
}

@keyframes change-bg{
    0%, 100%{   
        background-image:linear-gradient(90deg ,rgba(10, 15, 39, 0.5) 15%, rgba(44,39,61, 0.4) ), url("../img/bg1.png");
    }
    25%{
        background-image:linear-gradient(90deg ,rgba(10, 15, 39, 0.5) 15%, rgba(44,39,61, 0.4) ), url("../img/bg2.png");
    }
    50%{
        background-image:linear-gradient(90deg ,rgba(10, 15, 39, 0.5) 15%, rgba(44,39,61, 0.4) ), url("../img/bg3.png");
    }
    75%{
        background-image:linear-gradient(90deg ,rgba(10, 15, 39, 0.5) 15%, rgba(44,39,61, 0.4) ), url("../img/bg4.png");

    }
}


.heading-text {
    text-align: center;
    position: relative;
    top: 5%;
}

.main-text{
    text-transform: uppercase;
    font-family: HarryPotter;
    color: #DDD;
    text-shadow: 0px 0 10px #fd7ae5;
    font-weight: 600;
    font-size: 80px;
    letter-spacing: 0.2px;   
    animation: appear 2s ease-out 1;
    height: 170px;
}

@keyframes appear {
    0%{
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
}

.sub-text {
    color: #DDD;
    text-shadow: 0px 0 10px #fd7ae5;
    font-weight: 500;
    font-size: 25px;
    letter-spacing: 5px;
    word-spacing: 5px;
    animation: appear 2s ease-out 1;
}


.btn, .btn:link, .btn:visited {
    position: relative;
    top: 10em;
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 40px;
    display: inline-block;
    border-radius: 100px;
    font-size: 16px;
    font-weight: 600;
    transform: translate(0, 0);
    color: #777;
    background-color: #f9f9f9ec;
}

.btn:hover{
    transform: translate(0, -3px);
    box-shadow: 0 5px 20px rgba(0, 0, 0, .5);
    
}
.btn:active{
    background-color: #fcd0d0;
    outline: none;
    transform: translate(0, -1px);
    box-shadow: 0 5px 10px rgba(253,122,229, .2);
}

.btn::after{
    content: "";
    display: inline-block;
    background-color: #f9f9f9;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 100px;
    z-index: -1;
    transition: all .4s;
}

/* Chỉnh button hover, nhưng mà của after */
.btn:hover::after{ 
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.btn-animated {
    animation: moveInTop .5s ease-in 1s ; 
    animation-fill-mode: backwards;
}
@keyframes moveInTop{
    0%{
        opacity: 0;
        transform: translateY(50px);
    }

    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}


