.header{
    height: 750px;
    background-image:linear-gradient(90deg ,$background-linear-from, $background-linear-to ), url("../img/bg1.png");
    background-position: center;
    background-size: cover;
    animation: change-bg 80s ease-in-out 0s infinite ;
  
    &__navigation-bar{
        .contact{
            background: linear-gradient(90deg,  #86136dcb 0%,  #86136db7 30%);
            height: 40px;
            display: flex;
            align-items: center;
            .icon{
                flex-grow: 1;
                margin-left: 5%;
                li{
                    display: inline-block;
                    margin-right: 25px;
                    i{
                        color: $color-text;
                    }
                }
            }
            .link-signin{
                flex-grow: 2;
                text-align: right;
                margin-right: 5%;
                a{
                    font-family: 'PT Sans Narrow', sans-serif;
                    text-decoration: none;
                    text-transform: capitalize;
                    color: $color-text;
                    font-size: 14px;
                    font-weight: 600;
                    padding: 0 10px;
                    border-right: 1px solid #ddd;
                }
            }
        }
        .menu{
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            background: linear-gradient( 90deg,rgba(45,25,58, 0.9) 0%, rgba(60,37,69, 0.7) 30%);
            height: 70px;
            .logo{
                flex-grow: 1;
                height: 100%;
                img{
                    width: 55px;
                    height: 55px;
                    position: relative;
                    left: 50%;
                    top: 10%;
                    opacity: 0.95;
                }
            }
            .link-menu{
                flex-grow: 5;
                text-align: right;
                a{
                    font-family: 'PT Sans Narrow', sans-serif;
                    text-decoration: none;
                    text-transform: uppercase;
                    color: $color-text;
                    font-size: 15px;
                    font-weight: 600;
                    margin-right: 50px;
                }
            }
            .btn-store{
                flex-grow: 1;
                button{
                    font-family: 'PT Sans Narrow', sans-serif;
                    font-size: 15px;
                    padding: 5px 25px; 
                    text-transform: uppercase;
                    border: 3px solid $color-text;
                    background-color: transparent;
                    color: $color-text;
                    border-radius: 50px;
                    margin-left: 10%;
                }
            }
        }
    }
}


