*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
html{
    background-color: #fad7f7;
    scroll-behavior: smooth;
}
@font-face {
    font-family:Petica;
    src:url('../font/Pecita.otf') format('opentype');
}

 @font-face {
    font-family:HarryPotter;
    src:url('../font/ParryHotter.ttf') format('truetype');
    font-weight:normal;
    font-style:normal;

 }
 @font-face {
     font-family: title-font;
     src: url('../../font/d-din.bold.ttf') format('truetype');
     font-weight: normal;
     font-style: normal;
 }

 @font-face{
     font-family: text-font;
     src: url('../../font/d-din.regular.ttf') format('truetype');
     font-weight: normal;
     font-style: normal;
 }

@font-face {
    font-family: title-font-1;
    src: url("../../font/d-din.exp.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

